@import 'bootstrap';
@import 'font-awesome';

.subtitle {
  color: #555;
  font-weight: 400;
}

.input-group-text {
  color: #fff;
  background-color: #343a40;
  border: #343a40;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-control:focus {
  border-color: #495057;
  box-shadow: 0 0 0 0.1rem rgba(0, 12, 25, 0.25);
}

input {
  text-align: center;
}
